In [109]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import NMF, TruncatedSVD

# Data Description
The dataset is obtained from Kaggle (https://www.kaggle.com/nicapotato/womens-ecommerce-clothing-reviews)

- **Clothing ID**: Integer Categorical variable that refers to the specific piece being reviewed.
- **Age**: Positive Integer variable of the reviewers age.
- **Title**: String variable for the title of the review.
- **Review Text**: String variable for the review body. The company name is replaced by te word 'retailer'.
- **Rating**: Positive Ordinal Integer variable for the product score granted by the customer from 1 Worst, to 5 Best.
- **Recommended IND**: Binary variable stating where the customer recommends the product where 1 is recommended, 0 is not recommended.
- **Positive Feedback Count**: Positive Integer documenting the number of other customers who found this review positive.
- **Division Name**: Categorical name of the product high level division.
- **Department Name**: Categorical name of the product department name.
- **Class Name**: Categorical name of the product class name.

### To-do list
- load dataset
- EDA
- Preform cleanings

# Load the dataset

In [79]:
# load the dataset.
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

# EDA

In [80]:
# list of column names.
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [81]:
# there are 23486 rows and 11 columns.
df.shape

(23486, 11)

In [82]:
# take out the 'Unnamed: 0' and 'Clothing ID' column.
# don't think they will be useful for my analysis.
df = df.drop(['Unnamed: 0', 'Clothing ID'], axis=1)

# clean the white space from the column names.
df = df.rename(columns=lambda x: x.replace(' ', ''))

In [83]:
# there are NaN in Title, ReviewText, DivisionName, DepartmentName, ClassName column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 9 columns):
Age                      23486 non-null int64
Title                    19676 non-null object
ReviewText               22641 non-null object
Rating                   23486 non-null int64
RecommendedIND           23486 non-null int64
PositiveFeedbackCount    23486 non-null int64
DivisionName             23472 non-null object
DepartmentName           23472 non-null object
ClassName                23472 non-null object
dtypes: int64(4), object(5)
memory usage: 1.6+ MB

### How many NAs we have?
Columns Name  | Amount of NAs | % of dataset | 
------------- | ------------- | -------------|
Title  | 3810  | ~16% | 
ReviewText  | 845  | ~3.5% | 
DivisionName  | 14  | ~0.05% | 
DepartmentName  | 14  | ~0.05% | 
ClassName  | 14  | ~0.05% | 

- Those NAs in **DivisionName**, **DepartmentName** and **ClassName** are the same, since there are only ~0.05% of those, I will drop them.
- For **ReviewText**, since we are preforming our NLP on that column primarily, we can't preform NLP if we don't have any text to analyze, so I will drop them.
- For **Title**, since it is text and I am doing NLP, eventually I probabily will need to prefrom NLP on that column and combine with the ReviewText column to see if there is any meaningful unsupervised learning results. There are 3810 (~16% of my whole dataset) NAs and I don't really want to drop all of them. So my solution is to create a new column called CombineText, which comebine the Title and ReviewText column together and makes the Title like the first sentense of the review.

### Clean the NAs

In [84]:
# dorpping NAs for 4 columns.
subset = ['ReviewText', 'DivisionName', 'DepartmentName', 'ClassName']
df = df.dropna(subset=subset)

print('Now length of df is: ', len(df))

Now length of df is:  22628

In [85]:
# first fill NAs in the Title column with space, so I can concatenate the Title and ReviewText column together.
df.Title.fillna('', inplace=True)

# create a new column named CombinedText with Title and ReviewText.
df['CombinedText'] = df.Title + ' ' + df.ReviewText

# drop the Title column.
df.drop('Title', axis=1, inplace=True)

In [88]:
# general stats for the 4 numeric columns.
df.describe()

                Age        Rating  RecommendedIND  PositiveFeedbackCount
count  22628.000000  22628.000000    22628.000000           22628.000000
mean      43.282880      4.183092        0.818764               2.631784
std       12.328176      1.115911        0.385222               5.787520
min       18.000000      1.000000        0.000000               0.000000
25%       34.000000      4.000000        1.000000               0.000000
50%       41.000000      5.000000        1.000000               1.000000
75%       52.000000      5.000000        1.000000               3.000000
max       99.000000      5.000000        1.000000             122.000000

In [89]:
# there is no more NAs
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22628 entries, 0 to 23485
Data columns (total 9 columns):
Age                      22628 non-null int64
ReviewText               22628 non-null object
Rating                   22628 non-null int64
RecommendedIND           22628 non-null int64
PositiveFeedbackCount    22628 non-null int64
DivisionName             22628 non-null object
DepartmentName           22628 non-null object
ClassName                22628 non-null object
CombinedText             22628 non-null object
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

### Export as CSV

In [129]:
df.to_pickle('cleaned_df.pkl')

### Clean the Text Columns

In [91]:
df.head()

,Age,ReviewText,Rating,RecommendedIND,PositiveFeedbackCount,DivisionName,DepartmentName,ClassName,CombinedText
0,33,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,Absolutely wonderful - silky and sexy and com...
1,34,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,Love this dress! it's sooo pretty. i happen...
2,60,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Some major design flaws I had such high hopes ...
3,50,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,"My favorite buy! I love, love, love this jumps..."
4,47,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Flattering shirt This shirt is very flattering...

In [115]:
count_vectorizer = CountVectorizer(ngram_range=(1, 2),  
                                   stop_words='english', 
                                   token_pattern="\\b[a-z][a-z]+\\b",
                                   lowercase=True,
                                   max_df = 0.6)
tfidf_vectorizer = TfidfVectorizer(ngram_range=(1, 2),  
                                   stop_words='english', 
                                   token_pattern="\\b[a-z][a-z]+\\b",
                                   lowercase=True,
                                   max_df = 0.6)

cv_data = count_vectorizer.fit_transform(df.ReviewText)
tfidf_data = tfidf_vectorizer.fit_transform(df.ReviewText)

In [116]:
def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [127]:
n_comp = 20
lsa_tfidf = TruncatedSVD(n_components=n_comp)
lsa_cv = TruncatedSVD(n_components=n_comp)
nmf_tfidf = NMF(n_components=n_comp)
nmf_cv = NMF(n_components=n_comp)

lsa_tfidf_data = lsa_tfidf.fit_transform(tfidf_data)
lsa_cv_data = lsa_cv.fit_transform(cv_data)
nmf_tfidf_data = nmf_tfidf.fit_transform(tfidf_data)
nmf_cv_data = nmf_cv.fit_transform(cv_data)

In [124]:
display_topics(lsa_tfidf, tfidf_vectorizer.get_feature_names(),10)

Topic  0
dress, love, size, fit, great, wear, like, small, just, color

Topic  1
dress, love dress, beautiful, dress beautiful, slip, beautiful dress, dress dress, dresses, dress comfortable, dress fits

Topic  2
love, great, comfortable, jeans, soft, love love, perfect, super, compliments, looks great

Topic  3
size, true size, true, fits, love, small, fits true, great, runs, perfectly

Topic  4
true, true size, size, fit, like, fits true, nice, quality, look, just

Topic  5
love, love love, shirt, true, true size, love dress, sweater, beautiful, size, like

Topic  6
shirt, cute, true size, true, runs, looks, super, great, fits, dress

Topic  7
sweater, great, beautiful, color, looks, fits, looks great, large, quality, medium

Topic  8
great, love, shirt, fit, love love, quality, small, love dress, great fit, love shirt

Topic  9
shirt, fits, perfect, xs, perfectly, petite, fits perfectly, bought, color, summer

Topic  10
soft, super, sweater, cute, petite, length, comfortable, fit, great, ordered

Topic  11
fabric, pants, nice, comfortable, beautiful, soft, skirt, large, color, colors

Topic  12
fits, like, skirt, fits perfectly, small, waist, comfortable, perfectly, medium, look

Topic  13
perfect, length, large, long, little, shirt, nice, runs, bit, sleeves

Topic  14
soft, like, fit, jeans, shirt, comfortable, dress, medium, small, soft comfortable

Topic  15
beautiful, perfect, jeans, perfectly, color, skirt, large, cute, fits, flattering

Topic  16
jeans, comfortable, xs, skirt, looks, soft, petite, runs, beautiful, flattering

Topic  17
sweater, fit, skirt, shirt, nice, wear, flattering, fit perfectly, small, perfectly

Topic  18
compliments, just, large, pants, fit, perfectly, comfortable, received, quality, wore

Topic  19
color, nice, just, wear, jeans, beautiful, cute, fits, really, little

In [125]:
display_topics(lsa_cv, count_vectorizer.get_feature_names(),10)

Topic  0
dress, size, love, fit, like, wear, just, great, small, fabric

Topic  1
dress, love dress, slip, dresses, beautiful, dress beautiful, beautiful dress, dress dress, wedding, bought dress

Topic  2
size, small, fit, ordered, true, true size, large, medium, petite, size small

Topic  3
like, look, just, really, fabric, looks, nice, looked, model, didn

Topic  4
great, wear, fit, small, medium, perfect, usually, jeans, large, comfortable

Topic  5
wear, small, medium, usually, large, runs, usually wear, shirt, fits, retailer

Topic  6
fit, small, love, just, ordered, medium, xs, large, petite, usually

Topic  7
just, fabric, really, color, right, little, beautiful, ordered, nice, soft

Topic  8
small, great, medium, love, ordered, looks, like, runs, large, look

Topic  9
just, great, like, jeans, right, wear, love, look, small, just right

Topic  10
color, sweater, petite, perfect, ordered, xs, length, long, store, material

Topic  11
shirt, little, really, cute, look, material, bit, flattering, comfortable, short

Topic  12
petite, length, perfect, xs, long, waist, fabric, regular, ordered, short

Topic  13
look, really, sweater, skirt, waist, jeans, wear, large, way, didn

Topic  14
xs, ordered, petite, wear, shirt, great, really, tried, color, love

Topic  15
look, shirt, bought, pants, perfect, color, small, store, jeans, black

Topic  16
sweater, large, shirt, ordered, soft, sleeves, medium, look, beautiful, fabric

Topic  17
little, color, large, look, bit, waist, big, ordered, jeans, runs

Topic  18
store, tried, bought, xs, retailer, sweater, soft, saw, online, flattering

Topic  19
perfect, large, really, medium, bought, store, fabric, retailer, great, tried

In [ ]:
display_topics(nmf_tfidf, tfidf_vectorizer.get_feature_names(),10)

In [126]:
display_topics(nmf_cv, count_vectorizer.get_feature_names(),10)

Topic  0
love, love love, love dress, colors, absolutely, fits, absolutely love, style, wanted love, design

Topic  1
dress, beautiful, love dress, flattering, dresses, slip, material, comfortable, summer, bust

Topic  2
size, true, true size, usual, fits, usual size, smaller, large, ordered, runs

Topic  3
like, looks, feel, model, looks like, don, feel like, looked, material, look like

Topic  4
fit, fit perfectly, perfectly, waist, size fit, tight, loose, better, fit great, hips

Topic  5
wear, usually wear, usually, bra, bought, wait, normally wear, wear size, underneath, work

Topic  6
great, looks, looks great, quality, fits, fit great, fall, fits great, great quality, look great

Topic  7
just, right, just right, didn, beautiful, just didn, work, bit, dress just, fit just

Topic  8
small, medium, large, usually, runs, size small, ordered, small medium, extra, retailer

Topic  9
fabric, nice, soft, skirt, beautiful, quality, cut, fabric soft, waist, design

Topic  10
color, blue, beautiful, green, nice, red, pink, bought, pretty, orange

Topic  11
shirt, white, cute, material, love shirt, looks, sleeves, shirts, large, boxy

Topic  12
ordered, petite, xs, length, regular, long, short, lbs, xxs, waist

Topic  13
look, waist, good, look like, make, think, makes, skirt, way, look great

Topic  14
perfect, length, summer, length perfect, fit perfect, fall, perfect length, long, weight, colors

Topic  15
comfortable, jeans, flattering, soft, pants, bought, super, material, black, cute

Topic  16
sweater, soft, sleeves, large, long, beautiful, warm, love sweater, coat, looks

Topic  17
little, bit, cute, large, big, waist, little bit, runs, little big, pretty

Topic  18
store, tried, online, saw, retailer, try, didn, looked, sale, did

Topic  19
really, cute, nice, pretty, really cute, wanted, really like, really wanted, skirt, really nice